@font-face {
    font-family: font1;
    src: url("../fonts/pisava1.woff2") format("woff2");
}

@font-face {
    font-family: font2;
    src: url("../fonts/pisava2.woff2") format("woff2");
}

@font-face {
    font-family: font3;
    src: url("../fonts/pisava3.woff2") format("woff2");
}

@font-face {
    font-family: font4;
    src: url("../fonts/pisava4.woff2") format("woff2");
}

@font-face {
    font-family: font5;
    src: url("../fonts/pisava5.woff2") format("woff2");
}

@font-face {
    font-family: font6;
    src: url("../fonts/pisava6.woff2") format("woff2");
}

@font-face {
    font-family: font7;
    src: url("../fonts/pisava7.woff2") format("woff2");
}

@font-face {
    font-family: font8;
    src: url("../fonts/pisava8.woff2") format("woff2");
}

@font-face {
    font-family: font9;
    src: url("../fonts/pisava9.woff2") format("woff2");
}

@font-face {
    font-family: font10;
    src: url("../fonts/pisava10.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;

}

.frontPage {
    background-color: #23272a;
    height: auto;
}

.header {
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    min-height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    z-index: 10;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: font3;
    position: relative;
}

.header a {
    color: #fff;
    margin-left: 4px;
    margin-right: 4px;
    padding: 10px;
    font-weight: 600;
    transition: all .2s;
    cursor: pointer;
}

.header #login {
    color: #23272a;
    background-color: #fff;
    border-radius: 40px;
    padding: 7px 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    transition: all .2s;
}

.subHeader {
    padding: 230px 0 230px 0;
    max-width: 1180px;
    margin: auto;
    justify-content: space-between;
    display: flex;

}

.subHeaderRight {}

.subHeaderLeft {
    flex-direction: column;
    justify-content: start;
    align-self: flex-start;
    align-items: flex-start;
    max-width: 1180px;
    height: auto;
    display: flex;
    overflow: hidden;
}

.subHeaderLeft h1 {
    color: #fff;
    margin-bottom: 24px;
    font-family: font1;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.subHeaderLeft p {
    font-size: 20px;
    color: white;
    font-family: font9;
    display: block;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 20px;
}

.subHeaderLeft span {
    display: block;
}

.downloadForWindowsDiv {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-decoration: none;
    display: flex;
    position: relative;
    width: auto;
}

.downloadForWindowsDiv a {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    color: #fff;
    text-align: center;
    background-color: #5865f2;
    border-radius: 28px;
    align-items: center;
    width: auto;
    margin-top: 0;
    padding: 14px 32px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    transition: all .2s;
    display: flex;
    font-family: font9;
    margin-right: 25px;
}

.downloadForWindowsDiv span {
    font-size: 18px;
    font-family: font9;
    color: white;
}

/********************SVG PAGE**************************************************/
.svgPage {
    background-color: white;

    padding: 120px 0 120px 0;
}

.divNaslovSVG {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 200px;
}

.divNaslovSVG span {
    font-size: 45px;
    font-family: font9;
}

.centeringDiv {
    display: flex;
    justify-content: space-around;
}

.textDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
}
.textDiv p{
    font-size: 20px;
    font-family: font9;
}

.svgDiv{
    height: 500px;
    width: 500px;
}

.svgEditDiv{
    display: flex;
    justify-content: center;
}

.colorPicker {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: font9;
    font-size: 25px;
    text-transform: none;
}

.colorDiv {
    min-width: 150px;
    font-family: font9;
    font-size: 20px;
    text-transform: uppercase;
    height: 230px;
}

.colorDiv input {
    width: 100px;
    margin-right: 10px;
}

.reset {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    text-transform: capitalize;
    border: none;
    height: 50px;
    background-color: rgb(145, 143, 143);
    color: white;
    cursor: pointer;
    border-radius: 7px;
    font-weight: 500;
    font-family: font9;
    opacity: 1;
    transition: opacity 0.2s;
    font-size: 20px;
    transition: font-size 0.2s;
    line-height: 50px;
}

.reset:hover {
    opacity: 0.9;
    transition: opacity 0.2s;
    font-size: 23px;
    transition: font-size 0.2s;
}
.spacingDiv{
    width: 100%;
    height: 350px;
}
/**************************Bezier Page***********************************************/
.bezierPage{
    background-color: white;
    height: 1000px;
    padding: 120px 0 120px 0;
    display: block;
}
.divNaslovBezier{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}
.divNaslovBezier span{
    font-size: 45px;
    font-family: font9;
}



.animateDiv {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.animateDiv button {
    border: none;
    height: 50px;
    width: 250px;
    background-color: rgb(56, 43, 251);
    color: white;
    cursor: pointer;
    border-radius: 7px;
    font-weight: 500;
    font-family: font9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    transition: font-size 0.2s;
    opacity: 1;
    transition: opacity 0.2s;
}

/***********************************PNG Page*******************************************/

.pngPage{
    background-color: white;
    height: 1000px;
    padding: 120px 0 120px 0;
    display: block;
}
.divNaslovPng{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}
.divNaslovPng span{
    font-size: 45px;
    font-family: font9;
}
/***************************************Footer div**********************************************/
.divFooter{
    background-color: #23272a;
    padding-top: 80px;
    padding-bottom: 64px;
    position: relative;
    overflow: visible;
}
.container{
    z-index: 10;
    width: 90%;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    font-family: Ggsans, sans-serif;
    position: relative;
}
.layout{
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: start;
    width: 100%;
    font-family: font9;
}
.footerLine{
    border-top: 1px solid #5865f2;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 32px;
    padding-top: 32px;
    display: flex;
}
.footerSignUp{
    color: #fff;
    background-color: #5865f2;
    border-radius: 40px;
    padding: 7px 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    transition: all .2s;
}
.language{
    z-index: 2;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 190px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 0;
    font-family: Ggsans, sans-serif;
    display: block;
   
}
.language a{
    display: flex;
    flex-direction: row;
    height: 18px;
    align-items: center;
}
.languageText{
    color: white;
    font-size: 14px;
    font-family: font9;
}
.UsaSlika{
    height: 18px;
    margin-right: 8px;
}
.arrowSlika{
    padding-left: 6px;
    height: 6px;

}
.socialMediaLogos{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
}
.socialMediaLogos img{
    margin-right: 29px;
}
