@font-face {
    font-family: font1;
    src: url("../fonts/pisava1.woff2") format("woff2");
}

@font-face {
    font-family: font3;
    src: url("../fonts/pisava3.woff2") format("woff2");
}

@font-face {
    font-family: font9;
    src: url("../fonts/pisava9.woff2") format("woff2");
}

.swal-button {
    background-color: hsl(235 calc(1 * 85.6%) 64.7% / 1) !important;
    outline-style:none;
    border:none;
    opacity: 0.9;
   
}
.swal-button:hover {
    opacity: 1;
   
}

.swal-text {
    color: oklab(0.786807 -0.0025776 -0.0110238);
    font-size: 18px;
    font-family: font1;
}

.swal-title{
    font-size: 30px;
    line-height: 1.25;
    margin-bottom: 8px;
    color: oklab(0.963963 -0.000228554 -0.00283051);
    font-family: font9;
    font-weight: 900;
    font-style: normal;
}

.swal-modal{
    background-color: oklab(0.321088 -0.000220731 -0.00934622);
}

.swal-icon--success::before,.swal-icon--success::after,.swal-icon--success__hide-corners{
    opacity: 0 !important;
}

.swal-icon--success{
   border-color: #2B7A0B !important;

}
body.no-scroll {
    overflow: hidden;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

.frontPage {
    background-color: #23272a;
    height: auto;
}
.okoliHeader{
    position: fixed;
    background-color: #23272a;
    width: 100%;
    z-index: 1000;
}
.header {
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    min-height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    z-index: 10;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: font3;
    position: relative;
}

.header a {
    color: #fff;
    margin-left: 4px;
    margin-right: 4px;
    padding: 10px;
    font-weight: 600;
    transition: all .2s;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;
}

.header #svg:hover{
    background-color: #303336;
}
.header #bezier:hover{
    background-color: #303336;
}
.header #png:hover{
    background-color: #303336;
}
.header #download:hover{
    background-color: #303336;
}


.header #login {
    color: #23272a;
    background-color: #fff;
    border-radius: 40px;
    padding: 7px 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    transition: all .4s;
    position: relative;
}

.header #login:hover{
    color: #8891f2;
    transition: all .4s;
}
.or{
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    transition: all .4s;
    margin-left:88%;
}
.header #SignUp{
    color: #fff;
    background-color: #5865f2;
    border-radius: 40px;
    padding: 7px 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    transition: all .4s;
}
.header #SignUp:hover{
    color: black;
    transition: all .4s;
 
    
}
.subHeader {
    padding: 230px 0 130px 0;
    max-width: 1180px;
    margin: auto;
    justify-content: space-between;
    display: flex;

}


.subHeaderLeft {
    flex-direction: column;
    justify-content: start;
    align-self: flex-start;
    align-items: flex-start;
    max-width: 1180px;
    height: auto;
    display: flex;
    overflow: hidden;
}

.subHeaderLeft h1 {
    color: #fff;
    margin-bottom: 24px;
    font-family: font1;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.subHeaderLeft p {
    font-size: 20px;
    color: white;
    font-family: font9;
    display: block;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 20px;
    
}

.subHeaderLeft span {
    display: block;
}

.downloadForWindowsDiv {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-decoration: none;
    display: flex;
    position: relative;
    width: auto;
    cursor: pointer;
}

.downloadForWindowsDiv a {
    color: #fff;
    text-align: center;
    background-color: #5865f2;
    border-radius: 28px;
    align-items: center;
    width: auto;
    margin-top: 0;
    padding: 14px 32px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    transition: all .2s;
    display: flex;
    font-family: font9;
    margin-right: 25px;
   
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    box-shadow: none;
}
.downloadForWindowsDiv a:hover {
    transform: translate(2px, -3px); /* Move slightly up and to the right */
    box-shadow: -2px 3px 10px rgba(255, 255, 255, 0.4); /* Shadow offsets to the bottom-left */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition */
}


.downloadForWindowsDiv span {
    font-size: 18px;
    font-family: font9;
    color: white;
}

.svgBezierPage{
    background: linear-gradient(to top, #5865F2, #23272a);
}
.subHeaderRight{
    position: relative;
}
.innerFace{
    width: 6px;
    height: 6px;
    position: absolute;
    margin: 137px 0px 0px 207px;
    background-color: black;
    border-radius: 10px;
    z-index: 2;
}

/********************SVG PAGE**************************************************/
.svgPage {
    padding: 20px 0 20px 0;
}
.divNaslovSVG {
    display: flex;
    width: 100%;
    justify-content: left;
}

.divNaslovSVG span {
    font-size: 45px;
    font-family: font9;
    color: white;
    margin:100px 0 30px 260px;
}

.centeringDiv {
    display: flex;
    justify-content: space-around;
}

.textDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    background-color: #d3d2d2;
    border-radius: 16px;
    padding: 30px;
    word-spacing: 2px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    height: 368px;
}
.textDiv p{
    font-size: 20px;
    font-family: font9;
}

.svgDiv{
    height: 368px;
    width: 368px;
    background-color: #d3d2d2;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}


.svgEditDiv{
    display: flex;
    justify-content: center;
    background-color: #d3d2d2;
    border-radius: 16px;
}

.colorPicker {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: font9;
    font-size: 25px;
    text-transform: none;
}

.colorDiv {
    min-width: 150px;
    font-family: font9;
    font-size: 20px;
    text-transform: uppercase;
    height: 180px;
}

.colorDiv input {
    width: 100px;
    margin-right: 10px;
}

.reset {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-transform: capitalize;
    border: none;
    height: 50px;
    background-color: rgb(145, 143, 143);
    color: white;
    cursor: pointer;
    border-radius: 7px;
    font-weight: 500;
    font-family: font9;
    opacity: 1;
    transition: opacity 0.2s;
    font-size: 20px;
    transition: font-size 0.2s;
    line-height: 50px;
}

.reset:hover {
    opacity: 0.9;
    transition: opacity 0.2s;
    font-size: 23px;
    transition: font-size 0.2s;
}
.spacingDiv{
    width: 100%;
    height: 350px;
}

/**************************Bezier Page***********************************************/
.bezierPage{
    padding: 20px 0 20px 0;
}
.divNaslovBezier{
    display: flex;
    width: 100%;
    justify-content: left;

}
.divNaslovBezier span{
    font-size: 45px;
    font-family: font9;
    color: white;
    margin:100px 0 30px 260px;
}

.bezierDiv{
    background-color: #d3d2d2;
    border-radius: 16px;
    padding: 30px 26px 30px 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a soft shadow */
    width: 368px;
}
.animateDiv {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.animateDiv button {
    border: none;
    height: 50px;
    width: 250px;
    background-color: #5865f2;
    color: white;
    cursor: pointer;
    border-radius: 7px;
    font-weight: 500;
    font-family: font9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    transition: font-size 0.2s;
    opacity: 1;
    transition: opacity 0.2s;
}
.animateDiv button:hover{
    opacity: 0.9;
    transition: opacity 0.2s;
    font-size: 19px;
    transition: font-size 0.2s;
}
.pngDownloadPage{
    background: linear-gradient(to bottom, #5865F2, white);
}
/***********************************PNG Page*******************************************/

.pngPage{
    padding: 20px 0 20px 0;
}
.pngDiv{
    height: 368px;
    width: 368px;
    background-color: #f6f6f6;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds a soft shadow */
}
.pngPage img{
    background-color: #f6f6f6;
}

.divNaslovPng{
    display: flex;
    width: 100%;
    justify-content: left;

}
.divNaslovPng span{
    font-size: 45px;
    font-family: font9;
    color: white;
    margin:100px 0 30px 260px;
}
.pngPage .textDiv{
    background-color: #f6f6f6;
}
/***************************************Download div**********************************************/
.downloadPage{
    height: 600px;
    display: block;
}

.divNaslovDownload{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.divNaslovDownload span{
    font-size: 45px;
    font-family: font9;
    color: rgb(255, 255, 255);
    margin:100px 0 30px ;
}

.download {
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.downloadSVG {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.downloadSVG button {
    border: none;
    height: 50px;
    width: 250px;
    background-color: rgb(56, 43, 251);
    color: white;
    cursor: pointer;
    border-radius: 7px;
    font-weight: 500;
    font-family: font9;
    display: flex;
    align-items: center;
    font-size: 17px;
    transition: font-size 0.2s;
    opacity: 1;
    transition: opacity 0.2s;
}

.downloadSVG button:hover {
    opacity: 0.9;
    transition: opacity 0.2s;
    font-size: 19px;
    transition: font-size 0.2s;
}

.leftSvgDiv {
    height: 50px;
    width: 220px;
    line-height: 50px;
    border-radius: inherit;
}

.rightSvgDiv {
    height: 50px;
    background-color: rgb(14, 3, 192);
    border-radius: inherit;
}

.rightSvgDiv img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    border-radius: inherit;
}

.downloadPNG {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.downloadPNG button {
    border: none;
    height: 50px;
    width: 250px;
    background-color: rgb(56, 43, 251);
    color: white;
    cursor: pointer;
    border-radius: 7px;
    font-weight: 500;
    font-family: font9;
    display: flex;
    align-items: center;
    opacity: 1;
    transition: opacity 0.2s;
    font-size: 17px;
    transition: font-size 0.2s;
}

.downloadPNG button:hover {
    opacity: 0.9;
    transition: opacity 0.2s;
    font-size: 19px;
    transition: font-size 0.2s;
}

/***************************************Footer div**********************************************/
.divFooter{
    background-color: #23272a;
    padding-top: 80px;
    padding-bottom: 64px;
    position: relative;
    overflow: visible;
    width: 100%;
}
.divFooterSlike{
    width: 380px;
}
.socialMediaLogos img:hover{
    cursor: pointer;
    
}
.container{
    z-index: 10;
    width: 90%;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    font-family: font9;
    position: relative;
}
.layout{
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: start;
    width: 100%;
    font-family: font9;
}

.footerLine{
    border-top: 1px solid #5865f2;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 32px;
    padding-top: 32px;
    display: flex;
}

.language{
    z-index: 2;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 190px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 0;
    font-family: Ggsans, sans-serif;
    display: block;
}
.language a{
    display: flex;
    flex-direction: row;
    height: 18px;
    align-items: center;
}

.language a:hover{
    cursor: pointer;
}
.languageText{
    color: white;
    font-size: 14px;
    font-family: font9;
}
.UsaSlika{
    height: 18px;
    margin-right: 8px;
}
.arrowSlika{
    padding-left: 6px;
    height: 6px;

}
.socialMediaLogos{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
}
.socialMediaLogos img{
    margin-right: 29px;
}
.paragraph{
    font-weight: 500;
    font-family: font9;
    color:#5865f2;
    height: 24px;
    margin-bottom: 20px;
    font-size: 16px;
    width: 167px;
    display: flex;
    flex-direction: row;
}
.subParagraph{
    font-family: font9;
    color:white;
    display: block;
    height: 24px;
    margin-top: 8px;
    font-size: 16px;
    width: auto;
}

.subParagraph:hover{
    cursor: pointer;
}
